body{
    background-color:grey;
}
h1{
    color:#0000ff;
}
h2{
    background-color: rgb(0,255,0);
}
h3{
    background-color: hsl(30, 100%, 50%);
}
h3:hover{
    background-color: hsl(30, 100%, 20%);
    margin-left:50px;
}
/*
Cor Hexadecimal
usar 6caracteres
Mínimo 00
Máximo FF

#Vermelha    Verde    Azul
#Red         Green    Blue
#FF0000 - vermelha pura
#00FF00 - verde
#0000FF - azul
#FFFFFF - branca
#000000 - preta
#AAAAAA - cinza


*/