*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0,0%,50%);
}
h1{
    background-color: hsl(240, 100%, 50%);
    color:white;
    /* margin-left: 50px; */
    margin: 20px auto; /* centralizar um box., desde que tenha uma largura menor que a largura da página 
    /* padding: 20px; */
    width: 500px;
    text-align: center;
    /* padding:50px; */
       
}
h1:hover{
    border-bottom:5px solid black;
    border-top:5px solid black;
    background-color: hsl(240, 100%, 70%);

}
/* comentario */
#dv1{
    background-color: orange;
    /* margin: 10px 5px 15px 100px; */
    /* box-sizing: content-box; */
    width: 300px; /* largura */
    height: 100px;/* altura */
    padding: 30px;
    border: 10px solid blue;
}
.dv2{
    background-color: blueviolet;
    width:300px;
}